.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.tableRow {
  height: 75px;

  :nth-child(1n+1) {
    font-size: 17px;
    width: 20%;
  }

  :link {
    text-decoration: none;
  }

}



