.paginationContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tableRow {
  height: 75px;
  :nth-child(1n+1){
    font-size: 17px;
    width: 20%;
  }
  :link{
    text-decoration: none;
  }

}



